*{
	box-sizing: border-box;
}

#map{
	margin-top: 2%;
	margin-left: 10%;
	width: 80%;
	height: 800px;
}

#maptitle{
	margin-top: 1%;
	width: 100%;
	height: 20px;
}

#legend{
	font-family: Arial, sans-serif;
	font-size: 12px;
	background: #fff;
	padding: 10px;
	margin: 10px;
	border-radius: 7px;
	position: fixed;
}

#legend img{
	vertical-align: middle;
	height: 20px;
	margin-right: 5px;
}

#slider{
	margin-top: 1%;
	margin-left: 10%;
	height:20px;
}

.d3-slider-axis{
	height: 80px;
}

.d3-slider-handle{
	height: 1.8em;
	width: 1em;
}

#map>svg{
	top: 30%;
	left: 30%;
	position: fixed;
}

#play{
	margin-left: 6%;
	margin-top: -1.5%;
}

#playImg{
	width: 28px;
	height: 28px;
	background: rgba(37, 34, 34, 0.47);
	border-radius: 3px;
}
